# Entornos virtuales de Python
venv/
.env/
.python-version

# Archivos de base de datos SQLite
*.sqlite3
*.db
*.db-journal

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Configuraciones del IDE
.idea/
.vscode/

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de entorno local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de cobertura\.coverage
htmlcov/

# Archivos de compilación
dist/
build/
*.egg-info/

# Archivos de logs
*.log