/* Estilos para las banderas en el select */
select option {
    padding: 5px 10px;
}

select option div {
    display: flex;
    align-items: center;
    gap: 8px;
}

select option img {
    width: 20px;
    height: auto;
}