.language-flag-selected {
    width: 24px;
    height: auto;
    border-radius: 3px;
    vertical-align: middle;
}

.language-flag {
    width: 20px;
    height: auto;
    border-radius: 2px;
    vertical-align: middle;
}

.dropdown-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}

#languageDropdownMenuLink {
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

#languageDropdownMenuLink::after {
    margin-left: 0.5rem;
}