{% for championship in championships %}
    <div class="card mb-4">
        <div class="card-header bg-primary text-white">
            <h3>{{ championship.nombre }}</h3>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{% trans 'Event' %}</th>
                        <th>{% trans 'Date' %}</th>
                        <th>{% trans 'Format' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in championship.event_set.all %}
                        <tr>
                            <td>{{ event.nombre }}</td>
                            <td>{{ event.fecha|date:"d/m/Y H:i" }}</td>
                            <td>{{ event.formato }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endfor %}